// Цвета
$white: white;
$grey: #f6f9ff;
$grey2: #888888;
$lightblue: #10b2d0;
$blue: #0050ef;
$blueBG: rgba(0, 80, 239, 0.06);
$darkblue: #011846;

// Дисплеи

$mobile: 320px;
$pre-tablet: 576px;
$tablet: 768px;
$desktop: 1024px;
$pre-desktopPlus: 1280px;
$large: 1440px;